* {
	color: wheat;
}
ul {
	display: flex;
}
a {
	text-decoration: none;
	color: wheat;
}
button {
	color: black;
}
.text-header {
	text-align: center;
	font-size: large;
	font-weight: bold;
	padding-bottom: 16px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	height: 100vh;
	font-family: Roboto, sans-serif;
}

body * {
	flex: 1;
}
.header {
	background-color: #1f2937;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 96px;
	padding-right: 96px;
	padding-top: 0;
}
ul {
	gap: 16px;
}

.subheader {
	background-color: #1f2937;
	display: flex;
	justify-content: space-between;
	gap: 48px;
	align-items: center;
	padding: 32px;
	padding-left: 96px;
	padding-right: 96px;
}
.sub-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 0%;
	max-width: 100%;
	height: auto;
}
img {
	/* width: min-content; */
	height: auto;
	max-width: 100%;
}
.subheader-left {
	display: flex;
	flex-direction: column;
}

.info {
	display: flex;
	flex-direction: column;
	padding-left: 96px;
	padding-right: 96px;
}

.info * {
	color: black;
}
.cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.infocard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inspire {
	background-color: #e5e7eb;
	padding-left: 96px;
	padding-right: 96px;
	display: flex;
	flex-direction: column;
}
.inspire * {
	color: black;
.inspire * {
	color: black;
	/* 36px light italic */
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
}
.quote {
	/* 36px light italic */
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	text-align: center;
}
.author {
	text-align: end;
}

.call {
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	text-align: center;
}
