body {
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.header {
	background-color: #1f2937;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1f2937;
}

ul {
	display: flex;
}

a {
	text-decoration: none;
	color: black;
}
